<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="person" class="com.person.Person">
<property name="person_id" value="1"></property>
<property name="person_name" value="xyz"></property>
<property name="person_mobile" value="1234567890"></property>
</bean>

<bean id="phone" class="com.phone.Phone">
<property name="phoneModelno" value="16"></property>
<property name="phoneName" value="iphone"></property>
<property name="phoneStorage" value="125"></property>
<property name="person" ref="person"></property> 
</bean> 

<bean id="Employee" class="com.employee.Employee">
<constructor-arg index="0" value="101"></constructor-arg>
<constructor-arg index="1" value="john"></constructor-arg>
</bean>

<bean id="Department" class="com.department.Department">
<constructor-arg index="0" value="10"></constructor-arg>
<constructor-arg index="1" value="IT"></constructor-arg>
<constructor-arg index="2" ref="Employee"></constructor-arg>
</bean>

<bean id="student" class="com.student.Student">
<property name="stuid" value="1"></property>
<property name="studentName" value="john"></property>
</bean>

<bean id="course" class="com.courses.Courses">
<property name="course_Id" value="1"></property>
<property name="courseName" value="Java"></property>
</bean>

<bean id="added" class="com.added.Class_Result">
<property name="list">
<list>
<ref bean="student"></ref>
<ref bean="course"></ref>
</list>
</property>
</bean>
    </beans>